doctype html 
html 
    head 
        title Display Quote
        link(rel='stylesheet' href='https://getbootstrap.com/docs/4.4/dist/css/bootstrap.min.css')
    body 
        div
            p "#{text}"
            p - #{author}
        div
            form(action='/quotes/addNewQuote', method='GET')
                button(type='submit') Add Another Quote
            br
            form(action='/quotes/', method='GET')
                button(type='submit') Main Menu
            br