doctype html
html
    head
        title Tien's Alleged Quote Directory
    div
        p Welcome to Tien's Alleged Quote Directory! This is intended to be basically a repository for funny alleged quotes.
        br
        p All quotes posted here are allegations and may or may not actually have been said by the alleged source, and this site is for humor purposes only.
        br
        p By using this website and adding quotes, you agree to not violate your NDA, leak any trade secrets, commit defamation, publish secrets, confess to a crime, or otherwise violate Wisconsin law by using this wonderful service, and most importantly...
        br
        h1 You agree that Tien Wong is in no way legally or morally responsible for any of the quotes posted or accessed here.
        br
        p Tien also reserves the right to manually delete your quote if it is found to be discriminatory or not actually attributable to the alleged source. If you believe you have been misquoted, contact Tien immediately.
        form(action='/quotes', method='GET')
            button(type='submit') OK Tien, I won't sue you or defame people
